# =============================================
# PostgreSQL (docker-compose)
# =============================================
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# =============================================
# pgAdmin
# =============================================
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# =============================================
# Prisma
# =============================================
DATABASE_URL="postgresql://dev:dev123@localhost:5432/internal_tools?schema=public"

# =============================================
# API
# =============================================
PORT=3001
NODE_ENV=dev
